*{

}
nav{
display:flex;
align-items: center;
justify-content: space-around;
margin-left: 80px;

}
nav ul{
    display:flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 30px; 
    color:#03010A;
    font-size: 20px;
    font-weight: 90px;
    
}

.content{
   
        display:flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 150px;
    
}
.important-content{
    margin-left: 90px;
   /* margin-top: 90px;*/

}
.main-content{
    font-size: 70px;
    font-weight: 1120px;
    color:#0B396A ;
    margin-left: 80px;
}
.crush{
    color:#0D5795;
}
.second-main-content{
    margin-left: 80px;
    color:#B9BDB9;
    font-weight: 30px;
}
.button,.contact{
    position:relative;
    margin-top: 30px;
    margin-left: 80px;
    background-color:#4C2EEF ;
color: aliceblue;
padding: 10px;
border-radius: 10px
/*font-weight:5px;*/
}
/*.middle-left-content{
    display:flex;
    align-items: center;
    justify-content: space-around;

}
.middle-right-content{
    display:flex;
    align-items: center;
    justify-content: space-around;

}*/
.img{
    height:50px;
    width:50px;
}